# making terminology works with fcitx
export XIM_PROGRAM="fcitx"
export XIM="fcitx"
export XIM_ARGS="-d"
export ECORE_IMF_MODULE="xim"

# wallpaper engine for linux
mkfifo /tmp/wallpaper; xwinwrap -b -fs -sp -nf -ov -- mplayer -shuffle -slave -input file=/tmp/wallpaper -loop 0 -wid WID -nolirc `find ~/wallpapers -type f` &
compton &

numlockx &
fcitx-autostart &
xbindkeys &
nm-applet &
pasystray &
xfce4-clipman &
xset s 60
xss-lock -- ~/github/i3lockpp/i3lock++ spread &
