export GTK_IM_MODULE="fcitx"
export QT_IM_MODULE="fcitx"
export XMODIFIERS="@im=fcitx"

#making terminology works with fcitx
export XIM_PROGRAM="fcitx"
export XIM="fcitx"
export XIM_ARGS="-d"
export ECORE_IMF_MODULE="xim"

pulseaudio &
xbindkeys &
fcitx-autostart &
numlockx &
